$white: #ecf0f1;
$black: #2c3e50;
$black-hover: #000000;
$grey: #999999;
$grey-hover: #ecf0f1;
$dark-blue: #34495e;
$dark-blue-hover: #2c3e50;
$blue: #3498db;
$blue-hover: #2980b9;

$thin: 2px;
$compact: 4px;
$cosy: 8px;
$comfortable: 16px;

body {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	align-content: flex-start;
}

.side-nav-bar {
	height: 100vh;
	overflow-y: auto;
	background-color: $dark-blue;

	.btn {
		width: 100px;
		border-radius: 0;
		border: 0;
	}

	.list {
		padding: 0;
		list-style: none;
		margin: 0;
		width: 100px;

		.list-element {
			color: $grey;
			text-align: center;
			padding-top: $cosy;
			padding-bottom: $cosy;
			cursor: pointer;
			transition: background-color .5s, color .5s;

			&:first-child {
				padding-top: $comfortable;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover:not(:last-child) {
				background-color: $dark-blue-hover;
				border-left: $thin $blue-hover solid;
				padding-right: $thin; /* Offset $thin border indentation */

				.label {
					color: $grey-hover;
				}
			}

			.fa {
				width: 100%;
			}

			&.active {
				background-color: $dark-blue-hover;
				border-left: $thin $blue solid;
				padding-right: $thin; /* Offset $thin border indentation */

				.fa {
					color: $blue;
				}

				&:hover {
					border-left: $thin $blue solid;

					.fa {
						color: $blue;
					}
				}
			}

			.label {
				margin-bottom: 0;
				margin-right: $compact;
				margin-left: $compact;
				font-size: $comfortable;
			}
		}

		.breaker {
			height: 1px;
			margin: $comfortable;
			background-color: $grey;
		}
	}
}

.nested-list {
	height: 100vh;
	margin-bottom: 0;
	list-style: none;
	padding: $comfortable;
	text-align: left;
	border-right: 1px solid $grey;
	background-color: $white;
	width: 224px;

	.nested-list-title, .nested-list-subtitle, .nested-list-element {
		color: #2c3e50;
	}

	.nested-list-title {
		font-size: $comfortable + $compact;
	}

	.nested-list-subtitle {
		font-size: $comfortable;
		opacity: .75;
		margin-top: 1$compact;
		text-align: right;
	}

	.nested-list-element {
		font-size: 14px;
		border-bottom: 1px solid $grey;
		padding: $compact 0;

		&:hover {
			color: $black-hover;
			cursor: pointer;

			.fa {
				color: $blue-hover;
			}
		}

		&:last-child {
			border-bottom: 0;
		}

		&:last-child .btn {
			margin-top: $cosy;
			width: 100%;
			border-radius: $thin;

			.fa {
				color: $grey-hover;
			}
		}

		.breaker {
			height: 0;
		}
	}

	.fa {
		width: initial;
	}
}

.btn {
	cursor: pointer;

	&.btn-info {
		background-color: $blue;
		color: $grey-hover !important;
		font-size: $comfortable;

		&:hover {
			background-color: $blue-hover;
		}
	}
}