$white: #ffffff;
$cloudy-white: #ecf0f1;
$silver: #bdc3c7;
$black: #2c3e50;
$black-hover: #000000;
$grey: #999999;
$grey-hover: #ecf0f1;
$dark-blue: #34495e;
$dark-blue-hover: #2c3e50;
$blue: #3498db;
$blue-hover: #2980b9;
$red: red;
$green: #28a745;
$green-hover: #218838;

// Component sizing
$thin: 2px;
$compact: 4px;
$cosy: 8px;
$comfortable: 16px;

// Font sizing
$standard: 14px;
$h4: 24px;

body {
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: flex-start;
	
	// I think this looks better with a 1px border, to discuss
	// > nav, > section {
	// 	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.26);
	// }
}

nav ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.side-nav-bar {
	overflow-y: auto;
	background-color: $dark-blue;
	width: 100px;
	min-width: 100px;

	.btn {
		width: 100%;
		border-radius: 0;
		border: 0;
	}

	ul {
		li {
			color: $grey;
			text-align: center;
			padding-top: $cosy;
			padding-bottom: $cosy;
			cursor: pointer;
			transition: background-color .2s ease-out, color .2s;

			&:first-child {
				padding-top: $comfortable;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover:not(:last-child) {
				background-color: $dark-blue-hover;
				border-left: $thin $blue-hover solid;
				padding-right: $thin; // Offset $thin border indentation
			}

			.fa {
				width: 100%;
			}

			&.active {
				background-color: $dark-blue-hover;
				border-left: $thin $blue solid;
				padding-right: $thin; // Offset $thin border indentation

				.fa {
					color: $blue;
				}
				
				p {
					color: $grey-hover;
				}

				&:hover {
					border-left: $thin $blue solid;

					.fa {
						color: $blue;
					}
				}
			}

			p {
				margin-bottom: 0;
				margin-right: $compact;
				margin-left: $compact;
				font-size: $comfortable;
			}
		}

		.breaker {
			height: 1px;
			margin: $comfortable;
			background-color: $grey;
		}
	}
}

.side-nav-bar-nested {
	padding: $comfortable;
	background-color: $cloudy-white;
	width: 224px;
	min-width: 224px;
	color: #2c3e50;
	z-index: 2; // Make box shadow appear on top of all content to the right
	border-right: 1px solid $silver;

	p {
		font-size: $comfortable;
		opacity: .75;
		margin-top: $compact;
		text-align: right;
	}
	
	li {
		font-size: $standard;
		border-bottom: 1px solid $grey;
		padding: $compact 0;
		
		.fa {
			// Not all icons are the same width and they indent the text differently so align center
			min-width: 16px;
			text-align: center;
		}

		&:hover {
			color: $black-hover;
			cursor: pointer;
		}

		&.active {
			font-weight: bold;
			
			.fa {
				color: $blue-hover;
			}
		}

		&:last-child {
			border-bottom: 0;
		}

		&:last-child .btn {
			margin-top: $cosy;
			width: 100%;
			border-radius: $thin;

			.fa {
				color: $grey-hover;
			}
		}
	}
}

.btn {
	cursor: pointer;

	&.btn-info {
		background-color: $blue;
		color: $grey-hover !important;
		font-size: $comfortable;

		&:hover {
			background-color: $blue-hover;
		}
	}
}

// Main content section shown to the right of nested sidebar
section {
	// Last section should expand to the rest of the screen
	&:last-of-type {
		flex-grow: 1;
	}

	&#list-view {
		border-right: 1px solid #bdc3c7;
		flex-grow: 1;
		padding-top: 45px; // Offset 45px top-nav
		width: 100%;
	}

	&#single-view {
		flex-grow: initial;
		display: none;
		padding-top: 45px; // Offset 45px top-nav
		width: 100%;
	}

	.top-nav {
		// box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.26);
		border-bottom: 1px solid $silver;
		padding: 7px $standard 9px $standard;
		height: 45px;
		top: 0;
		background-color: $white;
		z-index: 3;
		position: fixed;

		> .fa, h4 {
			display: inline;
			color: $black;
		}

		> .fa {
			font-size: $h4;
			padding-right: $compact;
		}
		
		> p {
			display: inline;
			margin: 0;
			margin-left: $comfortable;
			vertical-align: middle;
			font-weight: 600;
		}

		> .form-group {
			width: 150px;
			display: inline-block;
			margin: 0;
			margin-left: 5px;

			.dropdown-toggle {
				padding: 4px 28px 4px 8px;
			}
		}
	}

	.main-content {
		padding: $comfortable;
		height: 100%;

		.splash-screen {
		    align-items: center;
		    height: 100%;
		    justify-content: center;
		    flex-direction: column;
			color: $black;

			> .fa {
				font-size: 200px;
				color: $grey;
				margin-top: -50px;
			}

			h1 {
				margin-bottom: 0;
			}

			p {
				color: $grey;
				margin-bottom: 20px;
			}

			.btn {
				width: 250px;
			}
		}

		#table-section, .splash-screen {
			display: none;
		}

		.table {
			th:first-child, td:first-child {
				padding-left: 20px;
			}

			th:last-child, td:last-child {
				padding-right: 20px;
			}

			thead {
				background-color: $cloudy-white;

				th {
					border-bottom: 2px solid $silver;
					border-top: none;
					color: $black;
					cursor: pointer;

					&:hover {
						color: $black-hover;
					}
				}
			}

			tbody {
				tr {
					cursor: pointer;

					&:hover {
						background-color: $cloudy-white;

						td:last-child i {
							opacity: 1;
						}
					}

					td:last-child {
						width: 0;

						i {
							opacity: 0;
						}
					}
				}
			}
		}

		.table.table-blue {
			thead {
				background-color: $blue;

				th {
					border-bottom: 2px solid $dark-blue;
					color: $cloudy-white;

					&:hover {
						color: $white;
					}
				}
			}
		}

		.loading-splash-screen {
			display: flex;
		}
	}

	.scrollable {
		height: 100%;
		overflow-y: scroll;
	}
}

label.required {
	&::after {
		content: "*";
		color: $red;
		padding-left: $thin;
	}
}

.help-text {
	color: $grey;
	font-size: 10px;
	display: inline-block;
}

.custom-checkbox {
	display: block;

	.custom-control-description {
		display: block;
		width: 100%;
	}
}

.bootstrap-select {
	width: 100% !important;

	& > button {
		background-color: $white;
		border: 1px solid rgba(0, 0, 0, .15);
	}

	.bs-searchbox {
		padding-top: 0;
		padding-bottom: 8px;
	}

	.dropdown-menu {
		.active, .selected, .dropdown-item:active, .dropdown-item:focus {
			background-color: $blue;
			color: $white;

			&:hover {
				background-color: $blue-hover;
				color: $cloudy-white;
			}
		}

		.no-results {
			cursor: pointer;
		}
	}
}

button.close {
	cursor: pointer;
}

.breaker {
	border-bottom: 1px solid #ecf0f1;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
}

.close-button {
	float: right;
}