// Breakpoints
$small: 780px;
$display: 1440px;
$wide: 1600px;

@media (max-width: $small) {
	body {
		flex-direction: column;
	}
	
	.side-nav-bar, .side-nav-bar-nested {
		width: 100vw;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		border-bottom: 1px solid $silver;
	}
	
	.side-nav-bar {		
		.btn-info {
			font-size: 0.9em;
			writing-mode: vertical-lr;
			padding: $compact $cosy;
			.fa {
				margin: -$compact 0;
			}
		}
		
		ul {
			display: flex;
			align-items: stretch;
		}
		
		li {
			display: flex;
			align-items: flex-end;
			padding: 8px !important;
			border-left: none !important;
			&:hover {
				border-top: $thin $blue solid;
				padding-right: initial;
			}
			&.active {
				border-top: $thin $blue-hover solid;
			}
		}
		
		.breaker {
			display: none;
		}
	}
	
	.side-nav-bar-nested {
		padding: $cosy;
		
		h1 {
			white-space: nowrap;
			font-size: 2rem;
			margin: 0;
		}
		
		> p {
			display: none;
		}
		
		ul {
			margin-left: $comfortable;
			display: flex;
			
			li {
				white-space: nowrap;
				font-size: 100%;
				margin-left: $compact;
				border-bottom: none;
				border-left: 1px solid $silver;
				padding: $compact $cosy;
				
				&:last-child {
					padding: 0;
					border-left: none;
					> .btn {
						margin: 0;
						padding: ($cosy - $compact) $cosy;
					}
				}
			}
		}
	}
}
