@import "../main";

.collapsible {
	display:none;
}

input.form-control[disabled=disabled] {
	background-color:#ffffff;
}

.breaker {
	margin-bottom:25px;
}

div.form-group.pull-right{
	width:200px;
}