@import "../main";

.problem-type-picker {
	height: 100%;
	border: none;

	.type-columns {
		.type-column {
			&:last-child {
				border-right: 1px solid $silver;
			}
		}
	}
}

#list-view {
	flex: 2;
}

#single-view {
	flex: 1;

	.splash-screen {
		height: 75%;
	}

	#problem-type-view {
		padding: $comfortable;
		display: none;
	}
}