@import "../main";

#list-view table {
	// Icon columns
	th:nth-last-child(-n+5):not(:last-child), td:nth-last-child(-n+5):not(:last-child) {
		width: $comfortable * 2;
		text-align: center;
	}

	td:last-child {
		text-align: center;
	}	
}

@include colhide(6);

#single-view {
	.container > .row {
		&:not(.thin) {
			padding-top: $comfortable;
		}

		&:first-child {
			align-items: center;
		}
		@media (max-width: $small) {
			padding: 0 ($comfortable * 2);
		}
	}

	.card {
		max-width: $comfortable * 16;
		margin: $cosy $comfortable $cosy auto;
		@media (max-width: $small) {
			margin: 0 auto;
			width: 180px;
		}
	}

	form .row {
		border-bottom: 1px solid $silver;
		margin-bottom: 1rem;
	}
	
	// List of permissions for user
	[data-customslug="access"] > span {
		// Separation between permissions
		&:not(:first-child) {
			margin-left: $comfortable;
		}
		// Separation between permission and icon
		> span {
			margin-left: $compact;
		}
	}
}

.table-compact-heading {
	margin-bottom: $compact;
	margin-right: $cosy;
	color: $black;
}

.subtle {
	color: $grey;
	float: right;
}

.problem-type-picker {
	&.readonly {
		li {
			.specialism-checkbox {
				border: none !important;

				i {
					right: 7px;
					top: 3px;
					font-size: 16px;

					&.fa-times {
						display: initial;
					}
				}
			}
		}
	}

	li {
		&:hover:not(.no-children), &.last-active:not(.no-children) {
			.specialism-checkbox {
				border: 2px solid $white;
			}
		}

		&.no-children {
			cursor: initial !important;

			&:hover {
				background-color: $white !important;
				color: $black !important;
			}
		}

		.specialism-checkbox {
			width: 15px;
			height: 15px;
			border: 2px solid $black;
			margin-top: $compact;
			cursor: pointer;

			i {
				position: absolute;
				right: 10px;
				top: 6px;
				font-size: 11px;

				&.fa-times {
					display: none;
				}
			}
		}
	}
}