@import "../main";

#list-view table {
	th:nth-last-child(-n+4):not(:last-child), td:nth-last-child(-n+4):not(:last-child) {
		width: $comfortable * 2;
		text-align: center;
	}
	td:last-child {
		text-align: center;
	}	
}

// Hide columns when showing detail
#list-view:not(:last-of-type) table {
	th:nth-last-child(-n+5), td:nth-last-child(-n+5) {
		display: none;
	}
}

#single-view {
	.container > .row {
		&:not(.thin) {
			padding-top: $comfortable;
		}
		&:first-child {
			align-items: center;
		}
	}
	.card {
		max-width: $comfortable * 16;
		margin: $cosy $comfortable $cosy auto;
	}
	form .row {
		border-bottom: 1px solid $silver;
	}
}

.table-compact-heading {
	margin-bottom: $compact;
	margin-right: $cosy;
	color: $black;
}
.subtle {
	color: $grey;
	float: right;
}
