@import "../main";

#list-view table {
	// Icon columns
	th:nth-last-child(-n+5):not(:last-child), td:nth-last-child(-n+5):not(:last-child) {
		width: $comfortable * 2;
		text-align: center;
	}

	td:last-child {
		text-align: center;
	}	
}

@include colhide(5);

#single-view {
	.row {
		margin: 0;
	}

	> .row {
		width: 100%;
		padding-top: $comfortable;

		&.thin {
			padding-top: $thin;
		}

		&:first-child {
			align-items: center;
		}
	}

	.card {
		max-width: $comfortable * 16;
		border: 0;

		img {
			border-radius: 0;
		}

		.card-title {
			font-size: 25px;
		    font-weight: 600;
		    margin: 0;
		    display: inline-block;
		    color: $black;

		    p {
		    	text-align: right;
			    line-height: 15px;
			    font-size: 10px;
			    color: $grey;
		    }
		}

		.card-body {
			border-radius: 0;
			border: 1px solid $silver;
			border-bottom: 2px solid $silver;
			padding: 12px;
		}
	}

	form .row {
		border-bottom: 1px solid $silver;
	}
}

.table-compact-heading {
	margin-bottom: 5px;
	margin-right: $cosy;
	color: $black;
	display: block;
}

.subtle {
	color: $grey;
	float: right;
}

.problem-type-picker {
	&.readonly {
		li {
			.specialism-checkbox {
				border: none !important;

				i {
					right: 7px;
					top: 3px;
					font-size: 16px;

					&.fa-times {
						display: initial;
					}
				}
			}
		}
	}

	li {
		&:hover:not(.no-children), &.last-active:not(.no-children) {
			.specialism-checkbox {
				border: 2px solid $white;
			}
		}

		&.no-children {
			cursor: initial !important;

			&:hover {
				background-color: $white !important;
				color: $black !important;
			}
		}

		.specialism-checkbox {
			width: 15px;
			height: 15px;
			border: 2px solid $black;
			margin-top: $compact;
			cursor: pointer;

			i {
				position: absolute;
				right: 10px;
				top: 6px;
				font-size: 11px;

				&.fa-times {
					display: none;
				}
			}
		}
	}
}

.staff-details {
	.col-md-4 {
		padding-right: $cosy;
	}

	.col-md-8 {
		padding-left: $cosy;

		.staff-info {
			border-bottom: 2px solid $silver;
			margin-bottom: $cosy;

			label {
				margin-bottom: $cosy;
				color: $black;
			}

			p {
				margin-bottom: $compact;
				color: $black;
			}
		}

		.no-gutters {
			.col-md-6 {
				&:first-child {
					padding-right: $cosy;
				}

				&:last-child {
					padding-left: $cosy;
				}
			}
		}
	}
}