@import "../variables";

@media (max-width: 1585px) {
	#ticket-view {
		.col-md-6 {
			min-width: 100%;
			width: 100%;
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}

// col-lg
@media (max-width: 1200px) {
	.ticket-event {
		.ticket-event-overview {
			display: none;
		}

		.ticket-event-details {
			font-weight: 600 !important;
		}
	}
}

// col-md
@media (max-width: 992px) {

}